*{
    margin: 0;
    padding:0;
}
body{
    margin:0;
    font-family: auto;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}
#showcase{
    background-image: url(https://images.pexels.com/photos/3733302/pexels-photo-3733302.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.showcase h1{
    font-size: 50px;
    line-height: 1.2;;
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border:#926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button:hover{
    background-color: #926239;
    color: #fff;
}
#section-a{
    padding:20px;
    background-color: #926239;
    color: #fff;
    text-align: center;
}
#section-b{
    padding:20px;
    background-color: #f4f4f4;
    text-align: center;
}
#section-c{
    display: flex;
}
#section-c div{
    padding: 20px;
}
#section-c .box-1, #section-c .box-3{
    background-color: #926239;
    color: white;
}
#section-c .box-2 {
    background-color: #f9f9f9;
}